<div id="<%= dom_id project %>">
 <table>
          <thead>
              <!-- <tr>
                  <th>Project name</th>
                  <th>No of tasks</th>
                  <th>Action</th>
              </tr> -->
        </thead>

       <tbody>
        <tr>
          <th><%= project.project_name %></th>
           <th><%= project.no_of_tasks %></th>
           
           <th><%= link_to "Show", project %></th>

         </tr>
         </tbody>
      </table>
</div>

     