<p style="color: green"><%= notice %></p>

<div>
Listing:<%= link_to "New project", new_project_path %></div>

<div id="projects">
  
  <% @projects.each do |project| %>
    <%= render project %>
  <% end %>
</div>

